<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p> -->
<div class="container">
  <div class="mainContent">
    <div class="row">
      <div class="col-12">
          <ul class="nav nav-tabs justify-content-center">
              <li class="nav-item" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a id="1" class="nav-link" routerLink="/">Add Contact</a>
              </li>
              <li class="nav-item" role="presentation" routerLinkActive="active">
                <a id="2" class="nav-link" routerLink="/contactList">Contact List</a>
              </li>
          </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>