<div class="row justify-content-center">
  <div class="col-8">
      <div class="formContainer">
        <div class="row align-items-center">
          <app-sort (contactListUpdate)="fetchUpdatedList()"></app-sort>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="mainContainer">

          <app-contact-component

            *ngFor="let contact of contactList; let i = index"
            [contact]="contact"
            [index] = "i"
            >
          </app-contact-component>


    </div>
  </div>
</div>