
<!-- <div class="sortContainer"> -->
    <form class="form-inline">
      <div class="form-group">
          <label>Sort By:</label>
          <select (change)="onSelectChange($event)" class="form-control" name="sort">
              <option value="default">Choose</option>
              <option name="name" value="name">Name</option>
              <option name="phone" value="phone">Phone</option>
              <option name="email" value="email">Email</option>
          </select>
      </div>
    </form>
<!-- </div> -->

